.newsletter{
    background-image:url("/images/bg-image-5.jpg");    
    padding: 80px 30px 65px; 
    background-position: right;
    background-size: cover;
    margin-top: 20px;
    border-radius: 10px;
}
.newsletter-body{
    display:flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}
.newsletter-body button{
    background-color: #292930;
    padding: 16px 38px 17px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.newsletter-input-container{
    display: flex;
    padding:17px 40px;
    background-color: white;
    gap:10px;
    border-radius: 5px;

}