.categories {
  padding-top: 50px;
}

.list-categories {
  display: flex;
  gap: 25px;
  margin-bottom: 60px;
  margin-top: 30px;
  overflow-x: auto;
}

.list-categories::-webkit-scrollbar {
  display: none;
}

.list-categories .icon-category {
  min-width: calc(25% - 25px);
}

@media screen and (max-width: 600px) {
  .list-categories .icon-category {
    min-width: calc(34% - 28px);
  }
}

@media screen and (min-width: 900px) {
  .list-categories .icon-category {
    min-width: calc(16.7% - 25px);
  }
}