.calification {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.calification-stars {
  display: flex;
}

.calification-stars img {
  filter: invert(70%) sepia(100%) saturate(500%) hue-rotate(5deg)
    brightness(100%);
}

.calification p {
  font-size: 12px;
  color: #777777;
}
