.item-why-us {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(235, 237, 239);
  padding: 28px 30px;
  width: calc(33% - 20px);
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .item-why-us {
    width: 100%;
    aspect-ratio: initial;
  }
}

@media screen and (min-width: 900px) {
  .item-why-us {
    width: calc(20% - 20px);
  }
}
