.menu-container {
  margin: 0 auto;
  padding: 0 15px 0;
  width: 720px;
  position: sticky;
  top: 20px;
  z-index: 1;
}

.menu-container menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px 13px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
}

.menu-container menu .logo {
  height: 35px;
}

.menu-container nav {
  display: flex;
  gap: 10px;
}

.nav-icons a,
.nav-icons button {
  position: relative;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
}

.nav-icons a:hover,
.nav-icons button:hover {
  background-color: #ff497c;
}

.nav-icons a:hover img {
  filter: invert();
}

.nav-icons a img {
  width: 17px;
}

.nav-icons .car-count {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  height: 24px;
  width: 24px;
  font-size: 14px;
  display: grid;
  border: 2px solid white;
  place-items: center;
}

.button-menu{
  display: block;
}

.menu-container .menu-desktop{
  display: none;
  min-width: 45%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.menu-container .menu-desktop li{
  border-bottom: 2px solid transparent;
}

.menu-container .menu-desktop .active{
  border-bottom-color: black;
}

@media screen and (max-width: 600px) {
  .menu-container {
    width: 100%;
  }
  .nav-icons {
    gap: 0;
  }
}

@media screen and (min-width: 900px) {
  .menu-container {
    width: 100%;
    max-width: 1320px;
  }

  .button-menu{
    display: none;
  }

  .menu-container .menu-desktop{
    display: flex;
  }
}
