.list-products {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.button-all {
  width: 250px;
  padding: 15px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #f6f7fb;
  font-weight: 600;
  border-radius: 5px;
  color: #5a5a5a;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .list-products {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 900px) {
  .list-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
