.new-arrivals {
  padding: 70px 0;
  margin-bottom: 70px;
  border-bottom: 2px solid rgba(224, 224, 224, 0.3);
}

.new-arrivals-list-products {
  display: flex;
  overflow-x: auto;
}

.new-arrivals-list-products::-webkit-scrollbar {
  display: none;
}

.new-arrivals-list-products .card-product-arrival {
  min-width: 50%;
}
