.new-arrivals {
  padding: 40px 0;
}

.new-arrivals-list-products {
  display: flex;
  overflow-x: auto;
}

.new-arrivals-list-products::-webkit-scrollbar {
  display: none;
}

.new-arrivals-list-products .card-product-arrival {
  min-width: 50%;
}
