.card-product {
  margin-bottom: 20px;
}

.card-product:hover .card-product-action {
  display: flex;
}

.card-product:hover .card-product-image-hover {
  opacity: 1;
}

.card-product-image-container {
  position: relative;
}

.card-product-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
}

.card-product-image-container img {
  width: 100%;
}

.card-product .card-product-action {
  position: absolute;
  bottom: 20px;
  display: none;
}

.card-product-offer {
  position: absolute;
  top: 20px;
  right: -10px;
  background-color: #3577f0;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-product-name {
  font-size: 16px;
  color: #777777;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-product-price {
  display: flex;
  gap: 5px;
  font-size: 18px;
}

.card-product-price h6 {
  font-weight: 600;
}

.card-product-price p {
  text-decoration: line-through;
  font-weight: 600;
  color: #d6d6d6;
}
