.hero-background {
  background-color: #f9f3f0;
}
.hero {
  display: flex;
  align-items: center;
  height: 500px;
}

.hero > div {
  width: 50%;
}

.hero .hero-left {
  padding-right: 30px;
}

.hero .hero-left h4 {
  font-size: 40px;
  font-weight: bold;
}

.hero button {
  margin: 30px 0;
  padding: 20px 40px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.hero-reviews {
  display: flex;
}

.hero-reviews-profiles {
  display: flex;
}

.hero-reviews-profiles img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  margin-left: -20px;
}

.hero-reviews-profiles img:first-child {
  margin-left: 0;
}

.hero-reviews-calification {
  margin-left: 20px;
}

.hero-reviews-calification-stars {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.hero-reviews-calification-stars img {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(5deg)
    brightness(100%);
}

.hero-reviews-calification p {
  font-size: 14px;
  font-weight: bold;
}

.hero-reviews-calification span {
  font-weight: lighter;
  color: #777777;
}

.carrousel-indicator {
  margin-top: 40px;
  display: flex;
}

.carrousel-indicator div {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  background-color: white;
}

.carrousel-indicator .active {
  background-color: #ff497c;
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    height: initial;
  }

  .hero .hero-left h4 {
    font-size: 30px;
  }

  .hero .hero-left {
    padding-right: initial;
    margin-top: 50px;
  }

  .hero-left > div {
    display: grid;
    place-content: center;
  }

  .hero button{
    width: fit-content;
    padding: 12px 24px;
    font-size: 14px;
    margin: 30px auto;
  }

  .hero > div {
    width: 100%;
  }

  .hero .header-section-header {
    justify-content: center;
  }

  .hero .header-section-header h2 {
    justify-content: center;
  }

  .hero .carousel-root{
    margin-top: 50px;
  }

  .hero .carousel .slider .slide img {
    width: 80%;
    height: auto;
  }

  .hero .carrousel-indicator {
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 60px;
  }
}
