.color-select {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.color-select .color-select-border {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.color-select .color-select-border.active {
  border: 2px solid gray;
}

.color-select li .color-select-border span {
  background-color: gray;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
}
