.dont-miss {
  background-color: #f6f7fb;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  border-radius: 5px;
}

.dont-miss button {
  background-color: #3577f0;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s all;
  margin: 30px 0;
}

.dont-miss button:hover {
  transform: scale(105%);
}
