.dont-miss {
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  border-radius: 5px;
}

.dont-miss-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dont-miss button {
  background-color: #3577f0;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s all;
  margin: 30px 0;
}

.dont-miss button:hover {
  transform: scale(105%);
}

@media screen and (max-width: 600px) {
  .dont-miss .header-section-header{
    padding: 0 50px;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .dont-miss {
    flex-direction: row;    
    justify-content: space-between;
    padding: 60px;
    margin-top: 200px;
  }

  .dont-miss .poster {
    width: 40%;
    margin-top: -150px;
    margin-right: 100px;
  }

  .dont-miss .header-section-header, .dont-miss .header-section-header h2{
    justify-content: flex-start;
  }
  .dont-miss .header-section-header h4{
    font-size: 55px;
    font-weight: bold;
    padding-right: 20%;
  }

  .dont-miss button {
    padding: 20px 60px;
    font-size: 20px;
  }

  .dont-miss-info{
    display: block;
  }
}